$background : #7ca7d9;
$width: 200px;
$height: 300px;
$card-margin: 10px;
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;

@mixin flexCenter {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   overflow: hidden;
}

@mixin flexWrap {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
}


body{
   background:$background;
}

.container{
   @include flexWrap;
   padding-top: 40px;
   @media (max-width: $breakpoint-tablet) {
         @include flexCenter;
   }
}

.card{
@include flexCenter;
  max-width: $width;
  min-width: $width;
  height: $height;
  margin: $card-margin;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  img{
     
  }
}
