
@import './header.scss';
@import './pagination.scss';
@import './mixins.scss';


body{
   background:$background;
}

.container{
   @include flexWrap;
   padding-top: $header-height + 5vh;
   padding-bottom: $pagination-height + 5vh;
   @media (max-width: $breakpoint-mobile) {
         @include flexCenter;
   }
}

.card{
@include flexStart;
  max-width: $width;
  min-width: $width;
  margin: $card-margin;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

  .place-holder{
   width: 100%;
   height: $height/2;
   background : url(http://res.cloudinary.com/bguggie/image/upload/v1425514882/darktiles_bg_gike55.jpg);
   background-repeat: no-repeat;
   background-size: $width;
   @include flexCenter;
   img{
      width: 70%;
      height: 70%;
   }
  }
  .card-content{
   width: 100%;
   padding: 10px;
   @include flexColumn;
   .sub-content{
      margin: 10px;
      padding-bottom: 20px;
   }
   .price{
      border-top: 1px solid lightgray;
      position: absolute;
      bottom: 0;
      width: 95%;
      align-self: flex-end;
      margin-left: 5px;
      color: green;
      text-align: end;
      padding-top: 10px;
   }
}
}

